version: 2.1

executors:
  default:
    working_directory: /go/src/github.com/yanolab/ghls
    docker:
      - image: circleci/golang:1.11-stretch
    environment:
      GO111MODULE: "on"

commands:
  restore_pkg_cache:
    steps:
      - restore_cache:
          keys:
            - v1-pkg-cache-{{ checksum "go.sum" }}
            - v1-pkg-cache-

jobs:
  build:
    executor:
      name: default
    steps:
      - checkout
      - restore_pkg_cache
      - run:
          name: build
          command: go build -race -o /dev/null
      - save_cache:
          key: v1-pkg-cache-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg"
  review:
    executor:
      name: default
    environment:

    steps:
      - checkout
      - restore_pkg_cache
      - run:
          name: setup reviewdog
          command: go get -u github.com/haya14busa/reviewdog/cmd/reviewdog
      - run:
          name: review
          command: |
            go vet ./... 2>&1 | reviewdog -f=govet -reporter=github-pr-check
  test:
    executor:
      name: default
    steps:
      - checkout
      - restore_pkg_cache
      - run:
          name: test
          command: go test -v ./...

workflows:
  build-and-test:
    jobs:
      - build:
          filters: &default_filter
            branches:
              only: /.*/
      - test:
          requires:
            - build
          filters: *default_filter
      - review:
          requires:
            - test
          filters: *default_filter
